
# Mac temp files
.DS_Store
**/.DS_Store

# Env files
.env
**/.env
**/.env.*
**/.env_*
!**/.env.dev

# Rust target directory
target/**
**/target/**

# Agent folder
.claude/**
.codex/**
.serena/**
docs/superpowers/**

# Config files
config/**
!config/default.toml
environment/garage/*.toml

# Logs
logs/**
**/logs/**
**/*.log.*